*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}


.container {
    margin: 0 auto;
}

input[type=text], 
input[type=password],
input[type=email] {
    width: 100%;
    padding: .6rem;
    border: 1px solid rgb(231, 231, 231);
    outline: none;
    border-radius: .33rem;
    transition: all 200ms linear;
    
    &:focus {
        box-shadow: 0 0 0 0.25rem rgb(82 82 82 / 36%);
    }
}

@media only screen and(min-width: 1400px) {
    .container {
        width: 85%;
    }
}

@media only screen and(max-width: 1400px) and(min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media only screen and(max-width: 1200px) and(min-width: 992px)  {
    .container {
        width: 75%;
    }
}

@media only screen and(max-width: 992px) and(min-width: 768px) {
    .container {
        width: 75%;
    }
}

@media only screen and(max-width: 768px) and(min-width: 576px) {
    .container {
        width: 75%;
    }
}

@media only screen and(max-width: 576px) {
    .container {
        width: 90%;
    }
}