input[type="file"] {
  width: 0;
  height: 0;
  position: absolute;
}

form {
  .file-upload-btn {
    margin-bottom: 2rem;
  }

  .uploaded {
    display: flex;
    flex-direction: column;

    img {
      max-width: 100%;
      object-fit: contain;
      margin-bottom: 1rem;
    }
  }
}

.myKycData {
  p {
    margin: 0.5rem 0;
  }

  .files {
    display: flex;
    .file {
      img {
        max-height: 200px;
      }
    }
  }
}
