<div class="open-window">
  <button
    (click)="windowOpen = !windowOpen ? true : false"
    [ngClass]="{ open: windowOpen }"
    color="primary"
    mat-fab
  >
    <span class="material-icons"> contact_support </span>
  </button>
</div>

<div class="chat-window" [ngClass]="{ open: windowOpen }">
  <header>
    <h3>Live Chat</h3>
    <div>
      <button
        class="end-chat"
        *ngIf="chatData"
        (click)="endChat()"
        color="warn"
        title="End Chat"
        mat-raised-button
      >
        End Chat
      </button>
      <button
        (click)="windowOpen = false"
        title="Close Window"
        class="close-window"
        mat-mini-fab
      >
        <span class="material-icons">close</span>
      </button>
    </div>
  </header>

  <div class="start-chat" *ngIf="stage === 'starting'">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input
          placeholder="Full Name"
          [(ngModel)]="formData.fullName"
          name="fullName"
          matInput
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          placeholder="Email"
          [(ngModel)]="formData.email"
          name="email"
          matInput
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Describe Your Problem / Question</mat-label>
        <textarea
          placeholder="Describe Your Problem / Question"
          [(ngModel)]="formData.description"
          name="description"
          matInput
        ></textarea>
      </mat-form-field>
      <button (click)="startChat()" color="primary" mat-raised-button>
        Start Chat
      </button>
    </form>
  </div>
  <div class="active-chat" *ngIf="stage === 'chatting'">
    <div class="messages" *ngIf="chatData">
      <div class="message" *ngFor="let message of chatData.messages">
        <p>
          <span>{{ message.fullName }}:</span> {{ message.message }}
        </p>
      </div>
    </div>
    <form>
      <input
        [(ngModel)]="chatMessage"
        placeholder="Message"
        name="chatMessage"
      />

      <button (click)="sendMessage()">
        <span class="material-icons">send</span>
      </button>
    </form>
  </div>
</div>
