<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="changeTab($event)" animationDuration="0ms">
  <mat-tab label="Payment Requests">
    <app-admin-payment-requests></app-admin-payment-requests>
  </mat-tab>
  <mat-tab label="Live Chat">
    <app-admin-live-chat></app-admin-live-chat>
  </mat-tab>
  <mat-tab label="Kyc Requests">
    <app-admin-kyc-requests></app-admin-kyc-requests>
  </mat-tab>
  <mat-tab label="Contact">
    <app-admin-contact></app-admin-contact>
  </mat-tab>
  <mat-tab label="Withdrawals">
    <app-admin-withdrawals></app-admin-withdrawals>
  </mat-tab>
</mat-tab-group>
