.body {
  .images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;

    img {
      max-height: 125px;
    }
  }

  .actions {
    padding: 1rem 0;

    button:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}

.chats {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgb(241, 241, 241);
    }

    span {
      flex-grow: 1;
    }
  }
}

.active-chat {
  display: flex;
  flex-direction: column;
  height: 750px;

  .messages {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 80%;
  }

  div {
    padding: 0.5rem;

    &.chat-message {
      span {
        font-weight: 700;
        margin-right: 0.5rem;
        display: inline-block;
      }
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid rgb(241, 241, 241);
    }
  }

  .chat-actions {
    display: flex;
    align-items: center;

    .leave-chat {
      margin-right: 1rem;
    }

    input {
      flex-grow: 1;
      margin: 0 1rem;
      padding: 0.7rem;
      border: 1px solid rgb(238, 238, 238);
    }
  }
}
