<section *ngIf="!requests">
  <p>Loading...</p>
</section>

<mat-tab-group>
  <mat-tab label="Requests">
    <mat-accordion *ngIf="requests">
      <mat-expansion-panel *ngFor="let request of requests; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title> This is the expansion title </mat-panel-title>
          <mat-panel-description>
            <p>{{ request.createdAt | date: "short" }}</p>
            <p>{{ request.transactionHash }}</p>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="body">
          <p><span>Requested Amount:</span> USD {{ request.amount }}</p>
          <p><span>Username:</span> {{ request.requestedBy.username }}</p>
          <p><span>Email:</span> {{ request.requestedBy.email }}</p>
          <p *ngIf="request.requestedBy.referralCode">
            <span>Referred By:</span> {{ request.requestedBy.referralCode }}
          </p>
          <p>
            <span>Referrals:</span> {{ request.requestedBy.referrals.length }}
          </p>
          <p>
            <span>Status:</span>
            {{ request.status }}
          </p>
          <div class="images">
            <img *ngFor="let img of request.proof" [src]="getURL(img)" alt="" />
          </div>

          <div class="actions" *ngIf="request.status === 'pending'">
            <button
              class="reject"
              (click)="reject(request._id)"
              title="Reject this request"
              color="warn"
              mat-fab
            >
              <span class="material-icons">close</span>
            </button>
            <button
              class="approve"
              (click)="approve(request._id)"
              title="Approve this request"
              color="primary"
              mat-fab
            >
              <span class="material-icons">done</span>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
  <mat-tab label="Live Chat">
    <section class="chats" *ngIf="chats && !inChat">
      <div *ngFor="let chat of chats; let i = index">
        <span>Messages: {{ chat.messages.length }}</span>
        <span>Started By: {{ chat.startedBy.fullName }}</span>
        <span>Started At: {{ chat.createdAt | date: "short" }}</span>
        <button color="primary" (click)="selectChat(i)" mat-raised-button>
          Enter Chat
        </button>
      </div>
    </section>
    <section class="active-chat" *ngIf="chat && inChat">
      <div class="messages">
        <div class="chat-message" *ngFor="let chatMessage of chat.messages">
          <p>
            <span>{{ chatMessage.fullName }}:</span>{{ chatMessage.message }}
          </p>
        </div>
      </div>

      <div class="chat-actions">
        <button
          (click)="leaveChat()"
          class="leave-chat"
          color="warn"
          mat-raised-button
        >
          Leave Chat
        </button>
        <button color="primary" mat-raised-button>End Chat</button>

        <input placeholder="Message..." [(ngModel)]="message" />
        <button (click)="sendMessage()" color="primary" mat-raised-button>
          Send Message
        </button>
      </div>
    </section>
  </mat-tab>
</mat-tab-group>
