<form>
  <section>
    <label>Amount in USD</label>
    <input type="number" [(ngModel)]="amount" name="amount" placeholder="25" />
  </section>
  <section>
    <label>Transaction Hash</label>
    <input
      type="text"
      [(ngModel)]="transactionHash"
      name="transactionHash"
      placeholder="0x4d6e16e57d0fca5cfbb1aa86249826c9a78cf2da9f67e789ffaefb4d6623e08f"
    />
  </section>
  <section *ngIf="uploaded && uploaded.length > 0">
    <label>Files</label>
    <div class="images">
      <img
        title="Remove image"
        *ngFor="let img of uploaded; let i = index"
        [src]="getURL(img)"
        alt="Uploaded Image"
        (click)="uploaded.splice(i, 1)"
      />
    </div>
  </section>
  <div class="actions">
    <button (click)="files.click()" class="file-upload-btn">
      Select Files <span class="material-icons">upload_file</span>
    </button>
    <button class="submit-request" (click)="submit()">Submit Request</button>
  </div>
</form>

<input
  type="file"
  (change)="upload($event)"
  accept="image/jpeg, image/jpg, image/png"
  #files
  multiple
/>
