<div class="dashboard-grid" *ngIf="user">

  <div class="column">
    <div class="dashboard-grid-item graph">
      <div class="icon"><span class="material-icons-outlined">trending_up</span></div>
      <app-earnings-chart></app-earnings-chart>
    </div>
  
    <div class="dashboard-grid-item verify-identity">
      <div class="icon right"><span class="material-icons-outlined">assignment_ind</span></div>
      <app-verify-identity></app-verify-identity>
    </div>  

    <div class="dashboard-grid-item setup-payments">
      <div class="icon right"><span class="material-icons-outlined">credit_card</span></div>
      <app-setup-payments></app-setup-payments>
    </div>
  </div>

  <div class="column">
    <div class="dashboard-grid-item invite-friends">
      <div class="icon right"><span class="material-icons-outlined">redeem</span></div>
      <app-invite-friend></app-invite-friend>
    </div>
  
    <div class="dashboard-grid-item earnings-history">
      <div class="icon right"><span class="material-icons-outlined">history</span></div>
      <app-balance-history></app-balance-history>
    </div>
  </div>

</div>

<news-ticker></news-ticker>