<div class="dashboard-grid" *ngIf="user">
  <div class="dashboard-grid-item available-balance">
    <div class="icon"><span class="material-icons">lock_open</span></div>
    <h3>USD {{ roundInt(user.balance) }}</h3>
    <p>Withdrawable</p>
  </div>

  <div class="dashboard-grid-item locked-balance">
    <div class="icon"><span class="material-icons">lock</span></div>
    <h3>USD {{ roundInt(user.pendingBalance) }}</h3>
    <p>Pending Approval</p>
  </div>

  <div class="dashboard-grid-item">
    <div class="icon"><span class="material-icons">trending_up</span></div>
    <h3>Portfolio</h3>
  </div>
  <div class="dashboard-grid-item">
    <div class="icon right">
      <span class="material-icons">assignment_ind</span>
    </div>
    <h3>KYC Verification</h3>
  </div>
  <div class="dashboard-grid-item">
    <div class="icon right">
      <span class="material-icons">credit_card</span>
    </div>
    <h3>Setup Payments</h3>
  </div>

  <div class="dashboard-grid-item invite-friends">
    <div class="icon right"><span class="material-icons">redeem</span></div>
    <h3>Refer & earn 2% 1% 0.5% 3%</h3>
    <p>{{ affiliateLink() }}</p>
    <input type="text" placeholder="Enter email" />
    <button>Invite Friend</button>
  </div>

  <div class="dashboard-grid-item">
    <div class="icon right"><span class="material-icons">history</span></div>
    <h3>Earnings History</h3>
  </div>
</div>

<news-ticker [priceData]="priceData"></news-ticker>
