.news-ticker {
  background-color: #333;
  margin: 1rem 0;
  overflow: hidden;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: #ffd700;
    white-space: nowrap;
    margin: 0 1rem;
  }
}

@media only screen and(max-width:1600px) {
  .news-ticker {
    p {
      font-size: 0.75rem;
    }
  }
}

@media only screen and(max-width:1400px) {
  .news-ticker {
    flex-direction: column;
    p {
      font-size: 0.75rem;
    }
  }
}

@media only screen and(max-width:490px) {
  .news-ticker {
    p {
      font-size: 0.55rem;
    }
  }
}
