.news-ticker {
  background-color: #333;
  border-radius: 0.5rem;
  margin: 1rem 0;
  overflow: hidden;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: #ffd700;
    white-space: nowrap;
    margin: 0 1rem;
  }
}
