<section class="page container">
  <section class="content">
    <h1>Contact</h1>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input placeholder="Name" [disabled]="loading" [(ngModel)]="formData.name" name="name" matInput/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input placeholder="Email" [disabled]="loading" [(ngModel)]="formData.email" name="email" matInput/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea placeholder="Message" [disabled]="loading" [(ngModel)]="formData.message" name="message" matInput></textarea>
      </mat-form-field>
      <button (click)="contact()" [disabled]="loading" color="primary" mat-raised-button>Send Message</button>
    </form>
  </section>
</section>

<div class="blob a">
  <svg viewBox="0 0 200 200" xmlns="https://www.w3.org/2000/svg">
    <path fill="#333333" d="M62.2,-47.4C78.1,-29.8,86.5,-4,79.1,13.9C71.7,31.8,48.4,41.9,27.4,48.9C6.4,55.9,-12.2,59.9,-28.4,54C-44.6,48.1,-58.5,32.3,-60.6,15.9C-62.7,-0.5,-53,-17.6,-41,-34.3C-28.9,-51.1,-14.5,-67.7,4.4,-71.2C23.2,-74.6,46.4,-65.1,62.2,-47.4Z" transform="translate(100 100)" />
  </svg>
</div>

<div class="blob b">
  <svg viewBox="0 0 200 200" xmlns="https://www.w3.org/2000/svg">
    <path fill="#FFD700" d="M37.4,-30.3C48.6,-15.9,57.7,-0.3,56.8,16.8C55.9,33.9,45.1,52.5,27.9,62.5C10.8,72.5,-12.7,73.9,-34.6,65.7C-56.4,57.5,-76.6,39.8,-80.9,19C-85.2,-1.8,-73.7,-25.7,-57.6,-41.2C-41.4,-56.7,-20.7,-63.8,-3.8,-60.8C13.2,-57.8,26.3,-44.6,37.4,-30.3Z" transform="translate(100 100)" />
  </svg>
</div>


