<div class="filter-requests">
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>        
      <mat-select [(ngModel)]="filterByStatusValue" (selectionChange)="filterByStatus()">
          <mat-option value="all">All</mat-option>
          <mat-option value="pending">Pending</mat-option>
          <mat-option value="approved">Approved</mat-option>
          <mat-option value="rejected">Rejected</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>        
      <mat-select [(ngModel)]="amountRendered" (selectionChange)="changeAmount()">
          <mat-option value="10">10</mat-option>
          <mat-option value="25">25</mat-option>
          <mat-option value="50">50</mat-option>
          <mat-option value="100">100</mat-option>
      </mat-select>
    </mat-form-field>
</div>

<section *ngIf="!requests">
  <p>Loading...</p>
</section>

<mat-accordion *ngIf="requests">
  <mat-expansion-panel *ngFor="let request of requests; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ request.createdAt | date: "short" }}
      </mat-panel-title>
      <mat-panel-description>
        <p class="txnHash">{{ request.transactionHash }}</p>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="body">
      <p>
        <span>Requested Amount:</span> BNBG
        <input [(ngModel)]="request.amount" *ngIf="request.status === 'pending'" />
        <span *ngIf="request.status !== 'pending'">{{ request.amount }}</span>
      </p>

      <p><span>Username:</span> {{ request.requestedBy.username }}</p>
      <p><span>Email:</span> {{ request.requestedBy.email }}</p>
      <p *ngIf="request.requestedBy.referralCode"><span>Referred By:</span> {{ request.requestedBy.referralCode }}</p>
      <p><span>Referrals:</span> {{ request.requestedBy.referrals.length }}</p>
      <p><span>Status:</span> {{ request.status }}</p>

      <div class="images">
        <img *ngFor="let img of request.proof" [src]="getURL(img)" alt="" />
      </div>

      <div class="actions" *ngIf="request.status === 'pending'">
        <button class="reject" (click)="reject(request._id)" title="Reject this request" color="warn" mat-fab>
          <span class="material-icons-outlined">close</span>
        </button>

        <button class="approve" (click)="approve(request._id, request.amount)" title="Approve this request" color="primary" mat-fab>
          <span class="material-icons-outlined">done</span>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<footer>
  <a class="load-more" (click)="loadMore()">
    <span>Load More</span> 
    <span class="material-icons-outlined">refresh</span>
  </a>
</footer>