.list {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    max-height: 225px;
    overflow-x: hidden;
    overflow-y: auto;

    .list-item {
      padding: 0.75rem 0;
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
      &:not(:last-of-type) {
        border-bottom: 1px solid rgb(236, 236, 236);
      }
    }
  }