section {
  margin: 2rem 0;
  h3 {
    margin-bottom: 1rem;
  }

  .filter {    
    margin-bottom: 1rem;

    select {
      width: 100%;
      padding: .75rem;
      border: 1px solid rgb(238, 238, 238);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      p {
        width: 100%;
        text-align: center;

        &:last-of-type {
          text-align: right;
        }

        &:first-of-type {
          text-align: left;
        }
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid rgb(230, 230, 230);
      }
    }
  }
}

@media only screen and(max-width: 620px) {
  section {
    ul {
      li {
        font-size: .7rem;
      }
    }
  }
}
