<form>
    <ckeditor 
    (ready)="onReady($event)" 
    [editor]="Editor" 
    [(ngModel)]="announcement.text" 
    [data]="announcement.text" 
    name="announcement"></ckeditor>

    <div class="style">
        <input type="color" [(ngModel)]="announcement.backgroundColor" name="backgroundColor">
        <input type="color" [(ngModel)]="announcement.textColor" name="textColor">
    </div>

    <mat-slide-toggle color="primary" [(ngModel)]="announcement.active" [checked]="announcement.active" name="active">
        Active (should be shown to website visitors)
    </mat-slide-toggle>
</form>

<div class="preview" [style.backgroundColor]="announcement.backgroundColor">
    <p [style.color]="announcement.textColor" [innerHTML]="announcement.text"></p>
</div>

<div class="actions">
    <button (click)="save()" color="primary" mat-raised-button>Publish</button>
</div>


<section *ngIf="store && store.length > 0">
    <div *ngFor="let s of store" class="preview" title="Use" [style.backgroundColor]="s.backgroundColor" (click)="use(s)">
        <p [style.color]="s.textColor" [innerHTML]="s.text"></p>
    </div>
</section>