<div class="layout">
  <section>
    <app-admin-payment-requests *ngIf="tab === 0"></app-admin-payment-requests>
    <app-admin-live-chat *ngIf="tab === 1"></app-admin-live-chat>
    <app-admin-kyc-requests *ngIf="tab === 2"></app-admin-kyc-requests>
    <app-admin-contact *ngIf="tab === 3"></app-admin-contact>
    <app-admin-withdrawals *ngIf="tab === 4"></app-admin-withdrawals>
    <app-admin-announcements *ngIf="tab === 5"></app-admin-announcements>
    <app-admin-users *ngIf="tab === 6"></app-admin-users>
  </section>
  <nav>
    <a title="Payment Requests" (click)="tab = 0" [ngClass]="{ 'active': tab === 0 }">
      <span class="material-icons-outlined">credit_card</span>
    </a>
    <a title="Live Chat" (click)="tab = 1" [ngClass]="{ 'active': tab === 1 }">
      <span class="material-icons-outlined">chat</span>
    </a>
    <a title="Kyc Verification" (click)="tab = 2" [ngClass]="{ 'active': tab === 2 }">
      <span class="material-icons-outlined">fingerprint</span>
    </a>
    <a title="Contact Form" (click)="tab = 3" [ngClass]="{ 'active': tab === 3 }">
      <span class="material-icons-outlined">email</span>
    </a>
    <a title="Withdrawal Requests" (click)="tab = 4" [ngClass]="{ 'active': tab === 4 }">
      <span class="material-icons-outlined">savings</span>
    </a>
    <a title="Announcement" (click)="tab = 5" [ngClass]="{ 'active': tab === 5 }">
      <span class="material-icons-outlined">campaign</span>
    </a>
    <a title="Users" (click)="tab = 6" [ngClass]="{ 'active': tab === 6 }">
      <span class="material-icons-outlined">people</span>
    </a>
  </nav>
</div>