.announcement {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        cursor: pointer;
        transition: all 215ms ease;
        
        &:hover {
            transform: scale(.92);
        }
    }
}