<nav class="dashboard-nav">
  <div class="container">
    <div>
      <a routerLink="/dashboard/administration" *ngIf="isAdmin" color="primary" mat-fab>
        <span class="material-icons">admin_panel_settings</span>
      </a>
      <a routerLink="/dashboard/account-settings" color="primary" mat-fab>
        <span class="material-icons">settings</span>
      </a>
      <a routerLink="/dashboard/login-history" color="primary" mat-fab>
        <span class="material-icons">history</span>
      </a>
    </div>
  </div>
</nav>
