<nav class="dashboard-nav">
  <div class="container">
    <div class="links">
      <a routerLink="/dashboard/administration" *ngIf="isAdmin">
        <span>Administration</span>
        <span class="material-icons-outlined">admin_panel_settings</span>
      </a>
      <a routerLink="/dashboard/account-settings">
        <span>Account Settings</span>
        <span class="material-icons-outlined">settings</span>
      </a>
      <a routerLink="/dashboard/login-history">
        <span>Login History</span>
        <span class="material-icons-outlined">history</span>
      </a>
    </div>
  </div>
</nav>
