<section class="form-container">
    <form>
        <header>
            <a routerLink="/register">Register</a>
            <a routerLink="/login">Login</a>
        </header>
        
        <div *ngIf="stage === 0">
            <section>
                <label for="username">Email</label>
                <input type="email" [(ngModel)]="email" name="email" id="email" placeholder="email@gmail.com">
            </section>
            <section>
                <a routerLink="/contact">Contact Support</a>
            </section>
            <button (click)="resetPassword()">Reset Password</button>
        </div>

        <div *ngIf="stage === 1">
            <section>
                <label for="password">New Password</label>
                <input type="password" [(ngModel)]="password" name="password" id="password">
            </section>
            <section>
                <label for="confirmPassword">Confirm New Password</label>
                <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword">
            </section>
            <section>
                <label for="resetCode">Verification Code</label>
                <input type="text" [(ngModel)]="resetCode" id="resetCode" name="resetCode">
            </section>
            <button (click)="submitCode()">Submit Code</button>
        </div>
    </form>
</section>