<section class="form-container">
  <div class="form-body">
    <header>
      <a routerLink="/register">Register</a>
      <a routerLink="/login">Login</a>
    </header>
    <form>
      <div *ngIf="stage === 0">
        <p>Please enter the email that is accociated with your account.</p>
        <p>
          A token will be sent to your registered email that you must enter in
          the next stage.
        </p>
        <br />
        <p>Without access to your email please contact support.</p>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="email@gmail.com"
            matInput
          />
        </mat-form-field>
        <div class="form-actions">
          <span></span>
          <button (click)="resetPassword()" color="primary" mat-raised-button>
            Reset Password
          </button>
        </div>
      </div>

      <div *ngIf="stage === 1">
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="New Password"
            matInput
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm New Password</mat-label>
          <input
            type="password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm New Password"
            matInput
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Verification Code</mat-label>
          <input
            type="text"
            [(ngModel)]="resetCode"
            name="resetCode"
            placeholder="Verification Code"
            matInput
          />
        </mat-form-field>
        <div class="form-actions">
          <button (click)="stage = 0" color="primary" mat-raised-button>
            Go Back
          </button>
          <button (click)="submitCode()" color="primary" mat-raised-button>
            Update Password
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
